
<div id="content" #content>

  <h1 >

    Entre les soussignés :

    La Société ".......... " située   "..................."  –   ".....................", immatriculée au Registre du Commerce et des Sociétés de ".............." sous le numéro "....................",

    Représentée par "................................", agissant en sa qualité de "....................",

    D’une part,

    Et :

    Melle/Mr/Mme ".................", de nationalité "..............",

    Né(e) le "XX/XX/XXXX" à  "..........................." – N°SS : "...............................",

    Demeurant au "......................".

    D’autre part,

    Il est arrêté et convenu ce qui suit :



    Article 1 : Engagement


    Vous êtes engagé(e) à compter du au sein de la société, sous réserve du résultat favorable de la visite médicale d'embauche.



    Article 2 : Fonctions exercées



    Vous exercerez les fonctions de "...................", statut "................", Niveau "....................", Coefficient "............".

    Vous vous engagez à vous conformer aux dispositions conventionnelles en vigueur dans la société "................" Actuellement, est applicable la Convention Collective n° ".................." .



    Article 3 : Lieu de travail et clause de mobilité



    Votre lieu de travail sera le siège de la société, actuellement situé ".....................".

    Ce lieu de travail ou le service auquel vous êtes affecté(e) pourra être modifié en fonction des évolutions internes de l’entreprise. Les délais de prévenance pour ces éventuelles modifications respecteront les dispositions légales.

    A ce titre, vous acceptez tout changement de lieu de travail dans la région  "................".




  </h1>

</div>

<button ((click)="downloadPDF()")> export to pdf</button>
