<div class="wrapper default-theme">
    <app-navbar></app-navbar>
    <main>
        <app-sidebaradminp></app-sidebaradminp>

      <div class="pages container-fluid pt-4 pb-4 pl-4 pr-4 ">
        <h4 class="mb-4 text-muted">Listes des Utlilisateur</h4>

        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <!-- raisonsociale Column -->
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom Complete</th>
              <td mat-cell *matCellDef="let row"> {{row.nom}} </td>
            </ng-container>

            <!-- ninea Column -->
            <ng-container matColumnDef="roles">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Roles </th>
              <td mat-cell *matCellDef="let row"> {{row.roles}} </td>
            </ng-container>

            <ng-container matColumnDef="telephone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Telephone </th>
              <td mat-cell *matCellDef="let row"> {{row.telephone}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
              </ng-container>

            <ng-container matColumnDef="statut">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> statut </th>
              <td mat-cell *matCellDef="let row"><button (click)="blocker(row.id)"
                [ngClass]="{ 'btn btn-primary': row.statut=='actif',
                'btn btn-danger': row.statut=='bloquer'}"> {{row.statut}} </button> </td>
            </ng-container>

            <!-- Color Column -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>


        <router-outlet></router-outlet>
        <hr>
        <app-footer></app-footer>
      </div>
      <div class="overlay" ></div>
    </main>
  </div>


